* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Calibri", 'Trebuchet MS', sans-serif;
    text-align: center;
}
.head h3{
    color : white;
    text-transform: uppercase;
}

.head h3 span{
    color : orange;
}
.container {
    margin: 15%;
    padding: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #294d61;
}

.container div {
    width: 100%;
    padding: 15px 0;
}

.inputDiv {
    background-color: white;
    padding: 0 50px;
    width: 80%;
    text-align: center;
}

input {
    border: none;
    padding: 5px 20px;
    border-radius: 3px;
    transition: all ease 0.2s;
}

.outputDiv {
    background-color: white;
    color: black;
    text-align: center;
}

.btnDiv {
    margin: 15px;
    text-align: center;
}



#btn {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 3px;
    transition: all ease 0.2s;
}

button:active {
    scale: 0.9;
}